{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mt-4">Commande validée</h1>
    {% if commande != null %}
        <p class="mt-4">Nous traitons votre demande dans les plus bbref délais</p>
        <p class="mt-4">{{ commande.id }}</p>
        <p class="mt-4">Boutique.com vous remercie de votre commande</p>
    {% endif %}

{% endblock %}