{% extends 'base.html.twig' %}

{% block title %}New Usager{% endblock %}

{% block body %}
<main role="main" class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="main-div">

                <div class="row small">
                    <div class="card col-md-4 offset-1">
                        <div class="card-header">
                            <h1>Nouveau Membre : Inscription</h1>
                        </div>
                        <div class="card-body">
                            {{ include('usager/_form.html.twig') }}

                            {% if  usagerExist %}
                                Vous etes déjà inscrit
                            {% endif %}

                             <a href="{{ path('usager_accueil') }}">back to list</a>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
</main>
{% endblock %}
