body {
    padding-top: 5rem;
    background-color: #eee;
}

a:hover {
    text-decoration: none;
}

.main-div {
    padding: 10px;
    text-align: center;
}

.clickable:hover {
    border-width: 3px;
    border-color: #0069D9;
    cursor: pointer;
    background-color: white;
}

.card {
    margin-bottom: 25px;
    border-width: 3px;
    padding: 5px;
}

.card-img {
    height: 300px; 
    width: auto; 
    display: block; 
    margin-top: 10px;
    margin-left: auto; 
    margin-right: auto;
}

.card-img-produit {
    height: 150px; 
    width: auto; 
    display: block; 
    margin-top: 10px;
    margin-left: auto; 
    margin-right: auto;
}

.cart-img-produit {
    height: 40px; 
    width: auto; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

th , td {
    vertical-align: middle !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #00000030;
}

.category {
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.produits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #00000030;
}

.produit {
    padding: 20px;
    background:tomato;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:#fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-radius: .25rem;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color:rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.form-group {
    margin-bottom: 1rem;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}