<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap-4/bootstrap.min.css')}}" />
        <link rel="stylesheet" href="{{ asset('css/projet.css')}}" />
        <link rel="myscripts.js" href="{{ asset('js/bootstrap-4/bootstrap.min.js')}}" />

        {% block stylesheets %}{% endblock %}
    </head>
    <header>{%  include 'header.html.twig' %}</header>
    <body>
        {%  include 'navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
